# Data Science Tools and Ecosystem

# Introduction

Welcome to this Jupyter Notebook!  
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create a table of Data Science tools
- Create and execute arithmetic expressions in Python  
- Convert data between units using code

Some of the popular languages that Data Scientists use are:

1. SQL
2. PYTHON 
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. TensorFlow

| Data Science Tools|
|-------------------|
| RStudio           |
| Apache Zeppelin   |
| Jupyter Notebook  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply and then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Keegan Gonsalves